@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Bree Serif", cursive;
    text-align: center;
    color: lightpink;
}

h2 {
    font-family: "Bree Serif", cursive;
}

h4 {
    font-family: "Bree Serif", cursive;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 0px 0px;
}

p {
    font-family: "Lora", cursive;
    line-height: 1.6;
    margin-bottom: 20px;
}

.highlight {
    color: lightpink;
    font-weight: bold;
}

.catering-options {
    margin-bottom: 30px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}